/* homepage.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #111;
}

html::-webkit-scrollbar-thumb {
    background: #29d9d5;
}

body {
    background: #111;
    overflow-x: hidden;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #29d9d5;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
}

.btn:hover {
    color: #111;
    background: #29d9d5;
}

.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5rem;
    padding: 5%;
}

.about .video-container {
    flex: 1 1 42rem;
}

.about .video-container video {
    border-radius: 1rem;
    width: 100%;
}

.about .video-container .controls {
    text-align: center;
    padding: 2rem 0;
}

.about .video-container .controls span {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: .7rem;
}

.about .video-container .controls span:hover {
    background: #29d9d5;
}

.about .content {
    flex: 1 1 42rem;
}

.about .content span {
    color: #29d9d5;
    font-size: 7rem;
}

.about .content h3 {
    color: #fff;
    font-size: 4rem;

}

.about .content p {
    padding: 1rem 0;
    font-size: 1.4rem;
    color: grey;
    line-height: 2;
    
}
.heading{
    text-align: center;
    margin-bottom: 2rem;
}
.heading span{
    color:#29d9d5;
    font-size: 2rem;
}
.heading h1{
    font-size: 4rem;
    color: #fff;
}
.gallery {
    padding: 5%;
}


.gallery .box-container {
    columns: 3 25rem;
    column-gap: 1.5rem;
}
 
.gallery .box {
    margin-bottom: 1rem;
    break-inside: avoid;
}

.gallery .box img {
    width: 100%;
    border-radius: 2rem;
    margin-bottom: 1rem;
}
.gallery .box span {
    font-size: 1.4rem;
    color: grey; 
}
.gallery .box h3 {
    margin-top: .5rem;
    font-size: 2em;
    color:#fff; 
}





@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .about .content h3 {
        font-size: 3.5rem;
    }
}

body {
    background-color: #0F1838;
    color: darkcyan;
}
  

/* -------------Navbar-------------- */
.icon-image {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px; 
 }

.navbar-brand {
    font-size: 27px; 
}

.navbar-nav .nav-link {
    font-size: 18px; 
}

.navbar-dark .btn {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px; 
} 

.navbar {
    background-color: #202B53;
}
  
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-brand,
.navbar-dark .btn {
  color: darkcyan;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-brand:hover,
.navbar-dark .btn:hover {
  color: lightcyan;
}

.navbar-dark .btn {
    border-color: darkcyan;; 
  }
  
.navbar-dark .btn:hover {
    border-color: darkcyan;
    background-color: darkcyan;
}

.navbar-toggler {
    background-color: darkcyan; 
    border-color: darkcyan;
}

.btn-mobile,
.btn-desktop {
  display: none;
}

@media (max-width: 991.98px) {
  .btn-mobile {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .btn-desktop {
    display: inline-block;
    margin-left: auto;
  }
}

/* -------------Footer--------------- */
.footer {
    background-color: #15214d;
}
  