/* homepage.css */

body {
  background-color: #0F1838;
  color: darkcyan;
}


/* -------------Navbar--------------- */
.icon-image {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 5px; 
}

.navbar-brand {
  font-size: 27px; 
}

.navbar-nav .nav-link {
  font-size: 18px; 
}

.navbar-dark .btn {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px; 
} 

.navbar {
  background-color: #202B53;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-brand,
.navbar-dark .btn {
color: darkcyan;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-brand:hover,
.navbar-dark .btn:hover {
color: lightcyan;
}

.navbar-dark .btn {
  border-color: darkcyan;; 
}

.navbar-dark .btn:hover {
  border-color: darkcyan;
  background-color: darkcyan;
}

.navbar-toggler {
  background-color: darkcyan; 
  border-color: darkcyan;
}

.btn-mobile,
.btn-desktop {
display: none;
}

@media (max-width: 991.98px) {
.btn-mobile {
  display: inline-block;
}
}

@media (min-width: 992px) {
.btn-desktop {
  display: inline-block;
  margin-left: auto;
}
}

/* -------------Footer--------------- */
.footer {
  background-color: #15214d;
}
